@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Merriweather&family=PT+Sans&family=Poppins:ital,wght@1,600&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #EEEEEE;
  background-color: #121212;
}

nav {
  display: flex;
  align-items: center;
  background-color: #3c4042;
  margin-bottom: 1.5em;
  min-width: 840px;
}

#nav-pad {
  width: calc(50% - 400px);
  min-width: 2.5%;
}

#nav-logo{
  width: 10em;
  padding: .3em;
  padding-left: 0;
}

#gh-logo{
  width: 2.2em;
  padding: .2em;
  left: 800px;
}

.to-right {
  margin-left: auto;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: .5em;
  padding-left: 1.5em;
  padding-right: 0;
  color: white;
  font-size: 1rem;
}

#api-logo {
  display: inline-block;
  width: 7.5em;
  border-radius: 4px;
}

#page {
  width: 95%;
  margin: auto;
  max-width: 800px;
}

h1 {
  margin-top: 1em;
  font-size: 46px;
}

figure {
  margin-bottom: 2em;
}

#rate-box {
  width: 100%;
  border-radius: 10px;
  background-color: #1E1E1E;
  box-shadow: 5px 5px 5px black;
  min-width: 800px;
  padding: 40px;
  display: flex;
  margin-bottom: 24px;
}

.column {
  display: inline;
}

.half {
  width: 300px;
}

.rate-center {
  width: 120px;
}

.right {
  justify-content: right;
  text-align: right;
}

.currency-selector {
  display: inline-block;
  width: 280px;
  height: 40px;
  margin-bottom: 15px;
  box-shadow: 3px 3px 3px black;
}

.currency-input {
  display: inline-block;
  width: 280px;
  height: 40px;
  box-shadow: 3px 3px 3px black;
}

.rate-center {
  display: flex;
  align-items: center;
}

#arrows {
  width: 120px;
  top: 20px;
}

#error-zone {
  text-align: center;
}